<div class="home-top-container hidden" [ngClass]="{fadingIn:fadingIn}">
  <section class="homeLogo-outer-container homeSection">
    <div class="homeLogo-inner-container">
      <img class="u-full-width" src="assets/images/Megatrends_Logo.svg"/>
    </div>
    <div class="homeLogo-bottom-container">
      <div class="homeLogo-bottomLeft-container">
        <div class="homeLogo-arrow-container">
          <div class="front">
            <img class="homeLogo-image-arrow" src="assets/images/Button_ArrowCircleGrayThin_Home.svg"/>
          </div>
          <div class="back">
            <img class="homeLogo-image-arrow" src="assets/images/Button_ArrowCircleNavyThin_Home.svg"/>
          </div>
        </div>
      </div>
      <div class="homeLogo-bottomRight-container">
        <div class="homeLogo-bottomText-container">
          <h5 class="mB0 is-semibold">Welcome to Megatrends</h5>
          <hr/>
          <h6 class="mB0">
            The world’s economies apparently change at random, reacting unforeseeably.
            However, certain large-scale processes can be understood and predicted as inter-related, evolving mechanisms driving
            business, government, and societal behaviour and decision-making.
            Our <strong>DRIVE Framework</strong> represents a valuable tool for companies to
            identify new opportunities based on the insights gained from
            some prevailing megatrends <i class="fa fa-arrow-down deleted"></i>
          </h6>
        </div>
      </div>
      <div class="homeLogo-bottomImage-container">
        <img class="homeLogo-circle-arrow" src="assets/images/Button_ArrowCircle_Home.svg"/>
        <p class="home-slider-link u-pull-right" href="hs-articles">Articles</p>
        <p class="home-slider-link u-pull-right" href="hs-about">About</p>
        <p class="home-slider-link u-pull-right" href="hs-driveFramework">Drive Framework</p>
      </div>
    </div>
  </section>
  <section id="hs-driveFramework" class="homeSection">
    <div class="container contentContainer">
      <div class="homeDiagram-top-container">
        <img class="homeLogo-circleTop-arrow" src="assets/images/Button_ArrowCircle_Home_Top.svg"/>
      </div>
      <hr class="mB0"/>
      <div class="row">
        <div class="five columns">
          <h6 class="homeDiagram-topText-container mB0">
            We have identified 5 megatrends that are most likely to have significant and long-lasting impacts on businesses, economies and societies
          </h6>
        </div>
        <div class="seven columns">
          <img class="u-full-width mT2R " src="assets/images/DriveFrameworkLogo.svg">
          <hr class="mT2R mB2R "/>
        </div>
      </div>
      <div class="home-DF-top-container">
        <a *ngFor="#trend of trends; #i = index" [routerLink]="['/Drive Framework/Drive Framework Trend',{id:trend.url}]">
          <div class="home-DF-trend-container">
            <img *ngIf="i == 0" class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGrayTopCurve_Home.svg">
            <img *ngIf="i > 0 && i < 4" class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGray_Home.svg">
            <img *ngIf="i == 4" class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGrayBottomCurve_Home.svg">
            <div class="home-DF-trend-inner-container">
              <div class="home-DF-trend-image-container">
                <div class="front">
                  <img class="u-full-width" src="assets/images/{{trend.letter}}_Letter.svg">
                </div>
                <div class="back">
                  <img class="u-full-width" src="assets/images/{{trend.name}}_Icon.svg">
                </div>
              </div>
              <h6 class="home-DF-trend-title mB0">{{trend.name}}</h6>
              <hr class="home-DF-seperator"/>
              <div class="home-DF-questions-container">
                <div *ngFor="#question of trend.questions; #j = index" class="home-DF-question">
                  <p class="mB0">
                    <i class="fa fa-question-circle mR5"></i>{{question}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </a>
        <hr class="invisible-seperator"/>
      </div>
      <div class="row">
        <div class="seven columns">
          <hr class="mT2R mB2R deleted"/>
          <img class="u-full-width hidden" src="assets/images/DriveFrameworkLogo.svg">
          <hr class="mT2R mB2R deleted"/>
        </div>
        <div class="five columns">
          <h6 class="homeDiagram-bottomText-container mB0">
            Individually, the five aspects of DRIVE are likely to be thought-provoking; in combination, they greatly influence how businesses can succeed in identifying new business opportunities
          </h6>
        </div>
      </div>
    </div>
  </section>
  <section id="hs-about" class="homeSection">
    <div class="container contentContainer">
      <hr class="mB0"/>
      <div class="row">
        <div class="four columns">
          <p class="hidden">
            Deleted
          </p>
        </div>
        <div class="four columns">
          <framedImage [imageSource]="aboutIS"></framedImage>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <p class="hidden">
            Deleted
          </p>
        </div>
        <div class="six columns">
          <a [routerLink]="['About']">
            <p>
            Shankle shank andouille tail frankfurter meatloaf biltong swine spare ribs corned beef short loin porchetta chicken chuck cupim.
            Shank kevin ground round ball tip frankfurter, cupim picanha pancetta.
            </p>
            <p class="mB0">
            Filet mignon sausage pork salami corned beef bresaola pastrami, tri-tip porchetta ball tip chuck tongue short loin.
            Ribeye jowl spare ribs, kevin biltong chuck beef jerky strip steak prosciutto.
            Doner meatloaf strip steak, pork loin frankfurter ribeye pastrami tenderloin pork shankle rump ball tip.
            </p>
          </a>
        </div>
      </div>
      <hr class="mT2R mB2R"/>
    </div>
  </section>
  <section id="hs-articles" class="homeSection">
    <div class="articles-backgroundRow">
      <div class="container contentContainer">
        <a *ngFor="#article of articles; #i = index" [routerLink]="['/Articles/Article Detail',{id:article.url}]">
          <div class="article-top-container">
            <img class="article-top-effect deleted" src="assets/images/Article_Top_Effect.svg">
            <img class="article-top-right-effect" src="assets/images/Article_TopRight_Effect.svg">
            <div class="article-inner-container">
              <h6 class="mB0 is-semibold">{{article.title}}</h6>
              <p class="article-author">by {{article.author}}, {{article.date}}</p>
              <p class="mB0">{{article.summary}}</p>
            </div>
          </div>
        </a>
        <hr class="invisible-seperator"/>
        <hr class="darkGrayBorder mT0"/>
        <a [routerLink]="['Articles']"><p class="mB1R">
          See all the Articles
        </p></a>
      </div>
    </div>
  </section>
  <section id="hs-contact" class="homeSection">
    <div class="container contentContainer">
      <hr class="mT2R mB5R"/>
      <div class="row">
        <div class="four columns">
          <p class="hidden">
            Deleted
          </p>
        </div>
        <div class="four columns">
          <h1 class="color-navy-important is-text-center is-semibold mB1R"><i class="fa fa-envelope"></i></h1>
          <p class="color-navy-important is-text-center mB0">
              Get in toch with us for your questions, feedback, and learn how we
              can get involved to help your company prepare for future
          </p>
          <hr class="mB mT1R"/>
          <h5 class="color-navy-important is-text-center is-semibold mB0">info@megatrends.com</h5>
        </div>
        <div class="four columns">
          <p class="hidden">
            Deleted
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
