<div class="home-top-container hidden" [ngClass]="{fadingIn:fadingIn}">
  <section class="homeLogo-outer-container homeSection">
    <div class="homeLogo-inner-container">
      <img class="u-full-width" src="assets/images/Megatrends_Logo.svg"/>
    </div>
    <div class="homeLogo-bottom-container">
      <div class="homeLogo-bottomLeft-container">
        <div class="homeLogo-arrow-container visible-from-desktop">
          <div class="front">
            <img class="homeLogo-image-arrow" src="assets/images/Button_ArrowCircleGrayThin_Home.svg"/>
          </div>
          <div class="back deleted">
            <img class="homeLogo-image-arrow" src="assets/images/Button_ArrowCircleNavyThin_Home.svg"/>
          </div>
        </div>
        <img class="homeLogo-image-arrow deleted-from-desktop" src="assets/images/Button_ArrowCircleNavyThin_Home_Mobile.svg"/>
      </div>
      <div class="homeLogo-bottomRight-container">
        <h5 class="mB0 is-semibold visible-from-phablet">Welcome to Megatrends</h5>
        <hr class="mB2R visible-from-phablet"/>
        <p class="mB0 multi-column-text visible-from-desktophd">
          Chief executives these days are facing more challenges than ever.
          The world's operation system is being constantly rewritten.
          And it does not out with gradual release.
          <br/><br/>As the chief executive of
          a global information services company once confided in us:
          “as the business landscape changes so quickly, executives have to make correct
          business decisions within a much shorter timeframe. This is all happening when
          there is little visibility of what's ahead of us and everything is so uncertain.
          One way to deal with these is to <strong>gain intelligence and insights
          into what the future lies</strong>”.
          <br/><br/>We cannot agree more. Continue reading to
          find out how Megatrends team can help your business prepare for the future.
        </p>
        <p class="deleted-from-desktophd">
          Chief executives these days are facing more challenges than ever.
          The world's operation system is being constantly rewritten.
          One way to deal with these is to <strong>gain intelligence and insights
          into what the future lies</strong>”. Find out how Megatrends team can help...
        </p>
      </div>
      <div class="homeLogo-bottomImage-container">
        <img class="homeLogo-circle-arrow" src="assets/images/Button_ArrowElipse_Home.svg"/>
        <p class="home-slider-link u-pull-right" href="hs-articles">Articles</p>
        <p class="home-slider-link u-pull-right" href="hs-about">About</p>
        <p class="home-slider-link u-pull-right" href="hs-driveFramework">Drive Framework</p>
      </div>
    </div>
  </section>
  <section id="hs-driveFramework" class="homeSection">
    <div class="container contentContainer">
      <div class="homeDiagram-top-container">
        <img class="homeLogo-circleTop-arrow" src="assets/images/Button_ArrowElipse_Home_Top.svg"/>
        <img class="homeLogo-image-arrow-tip deleted-from-desktop" src="assets/images/Button_ArrowCircleNavyTip_Home.svg"/>
      </div>
      <div class="row deleted-from-phablet arrow-bg-3 mB0 pT5R">
        <p class="mB0">
          As the chief executive of a global information services company once confided in us:
          “as the business landscape changes so quickly, executives have to make correct
          business decisions within a much shorter timeframe. This is all happening when
          there is little visibility of what's ahead of us and everything is so uncertain.
          One way to deal with these is to <strong>gain intelligence and insights
          into what the future lies</strong>”. We cannot agree more.
        </p>
      </div>
      <div class="row deleted-from-phablet arrow-bg-4 h60">
        <img class="u-pull-right deleted-from-phablet" src="assets/images/Home_Arrow_Background_5.svg">
      </div>
      <img class="u-full-width deleted-from-desktophd" src="assets/images/DriveFrameworkLogo.svg">
      <hr class="mT2R mB2R deleted-from-desktophd"/>
      <div class="row deleted-from-phablet arrow-bg-5 pT20">
        <h6 class="">
          While it may appear that our world is changing randomly and more unforeseeable events are emerging often,
          the truth is that certain large-scale processes determine how businesses,
          governments, and societies behave and how decisions are made.
          <br/><br/>In the vast oceans of knowledge, information and data, we find that there
          are <strong>five undercurrents</strong> that can give us some directions as to how the future would unfold.
        </h6>
      </div>
      <div class="deleted-from-desktophd">
        <a *ngFor="#trend of trends; #i = index" [routerLink]="['/Drive Framework/Drive Framework Trend',{id:trend.url}]">
          <div class="HDFM-trendContainer">
            <img class="HDFM-trendIcon" src="assets/images/{{trend.letter}}_Letter.svg">
          </div>
          <hr class="invisible-seperator"/>
          <hr/>
        </a>
      </div>


      <div class="row visible-from-desktophd">
        <div class="five columns">
          <h6 class="arrow-bg-1 mB0 pT5R pB5R">
            While it may appear that our world is changing randomly and more unforeseeable events are emerging often,
            the truth is that certain large-scale processes determine how businesses,
            governments, and societies behave and how decisions are made.
            <br/><br/>In the vast oceans of knowledge, information and data, we find that there
            are five undercurrents that can give us some directions as to how the future would unfold.
          </h6>
        </div>
        <div class="seven columns">
          <hr class="homeSeperator-1"/>
          <img class="u-full-width " src="assets/images/DriveFrameworkLogo.svg">
          <hr class="mT2R mB2R visible-from-desktophd"/>
        </div>
      </div>

      <div class="visible-from-desktophd">
        <div class="u-pull-left w20p">
          <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGrayTopCurve_Home.svg">
        </div>
        <div class="u-pull-left w20p">
          <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGray_Home.svg">
        </div>
        <div class="u-pull-left w20p">
          <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGray_Home.svg">
        </div>
        <div class="u-pull-left w20p">
          <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGray_Home.svg">
        </div>
        <div class="u-pull-left w20p">
          <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGrayBottomCurve_Home.svg">
        </div>
        <hr class="invisible-seperator"/>
      </div>

      <div class="home-DF-top-container visible-from-desktophd">
        <a *ngFor="#trend of trends; #i = index" [routerLink]="['/Drive Framework/Drive Framework Trend',{id:trend.url}]">
          <div class="home-DF-trend-container">
            <div class="home-DF-trend-left-container">
              <div class="home-DF-trend-image-container">
                <div class="front">
                  <img class="u-full-width" src="assets/images/{{trend.letter}}_Letter.svg">
                </div>
                <div class="back deleted">
                  <img class="u-full-width" src="assets/images/{{trend.name}}_Icon.svg">
                </div>
              </div>
            </div>
            <div class="home-DF-trend-right-container">
              <div class="home-DF-trend-text-container">
                <h6 class="home-DF-trend-title mB0"><strong>{{i + 1}}. {{trend.name}}</strong></h6>
                <hr class="home-DF-seperator"/>
                <p class="home-DF-trend-text mB0">{{trend.intro}}</p>
                <hr class="home-DF-seperator"/>
                <div *ngFor="#question of trend.questions; #j = index">
                  <p class="mB0 home-DF-question">
                    <i class="fa fa-question-circle mR5"></i>{{question}}
                  </p>
                </div>
              </div>
            </div>
            <hr class="invisible-seperator"/>
          </div>
        </a>
        <hr class="invisible-seperator"/>
      </div>
      <div class="row">
        <div class="seven columns">
          <hr class="mT2R mB2R "/>
            <div class="homeDiagram-finalText-container">
              <h5 class="mB0 is-te">
                By looking deep into the possible futures, companies can start identifying new business opportunities today.
              </h5>
            </div>
        </div>
        <div class="five columns">
          <h6 class="homeDiagram-bottomText-container mB0">
            Individually, the five aspects of DRIVE are thought-provoking. In combination, they can help companies prepare for tomorrow's business landscape, at a time when there is little room left for cutting cost.           </h6>
        </div>
      </div>
      <hr class="mT2R mB2R "/>
    </div>
  </section>
  <section id="hs-about" class="homeSection">
    <div class="container contentContainer">
      <div class="row">
        <div class="four columns">
          <p class="hidden">
            Deleted
          </p>
        </div>
        <div class="four columns">
          <framedImage [imageSource]="aboutIS"></framedImage>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <p class="hidden">
            Deleted
          </p>
        </div>
        <div class="six columns">
          <a [routerLink]="['About']">
            <p class="mB0 is-text-center">
              Mark Esposito and Terence Tse are megatrend strategists.
              They have been coaching executives to find new business opportunities and
              markets using <strong>the DRIVE framework</strong>.
              <br/><br/>This "dynamic duo" also teaches,
              writes and speaks about the latest business, economic and
              social developments on a regular basis.
            </p>
          </a>
        </div>
      </div>
      <hr class="mT2R mB2R"/>
    </div>
  </section>
  <section id="hs-articles" class="homeSection">
    <div class="articles-backgroundRow">
      <div class="container contentContainer">
        <a *ngFor="#article of articles; #i = index" [routerLink]="['/Articles/Article Detail',{id:article.url}]">
          <div *ngIf="i < panelCount" class="article-top-container">
            <img class="article-top-right-effect" src="assets/images/Article_TopRight_Effect.svg">
            <div class="article-inner-container">
              <h6 class="mB0 is-semibold">{{article.title}}</h6>
              <p class="article-author">by {{article.author}}, {{article.date}}</p>
              <p class="mB0">{{article.summary}}</p>
            </div>
          </div>
        </a>
        <hr class="invisible-seperator"/>
        <hr class="darkGrayBorder mT0"/>
        <a [routerLink]="['Articles']"><p class="mB1R">
          See all the Articles
        </p></a>
      </div>
    </div>
  </section>
  <section id="hs-contact" class="homeSection">
    <div class="container contentContainer">
      <hr class="mT2R mB5R"/>
      <div class="row">
        <div class="three columns">
          <p class="hidden">
            Deleted
          </p>
        </div>
        <div class="six columns">
          <h1 class="color-navy-important is-text-center is-semibold mB1R"><i class="fa fa-envelope"></i></h1>
          <p class="color-navy-important is-text-center mB0">
              Get in touch with us for your questions, feedback, and learn how we
              can get involved to help your company prepare for future
          </p>
          <hr class="mB mT1R"/>
          <h5 class="color-navy-important is-text-center is-semibold mB0">info@megatrends.com</h5>
        </div>
      </div>
    </div>
  </section>
</div>
