<div class="row">
  <div *ngFor="#trend of trends;  #i = index">
    <div *ngIf="currentPath == trend.url">
      <div class="eight columns">
        <a [routerLink]="['Drive Framework Diagram']">
          <p class="mB0"><i class="fa fa-arrow-left mR5"></i> Drive Framework</p>
        </a>
        <hr class="mT15"/>
        <h4 class="mT2R">{{trend.name}}</h4>
        <div class="multi-column-text" [innerHTML]="trend.bodyHTML"></div>
        <hr class="mT2R mB2R"/>
        <div class="driveFrameworkTrend-graphContainer">
          <chartRotator [graphSource]="graphSource"></chartRotator>
        </div>
        <hr class="mT2R mB2R"/>
        <p class="mB5"><strong>Related Articles</strong></p>
        <div *ngFor="#article of trend.relatedArticles;  #i = index">
          <a *ngIf="article.type == 'internal'" [routerLink]="['/Articles/Article Detail',{id:article.url}]"><p class="mB5"><i class="fa fa-link mR5"></i>{{article.title}}</p></a>
          <a *ngIf="article.type == 'external'" [routerLink]="['/Articles/' + article.url]"><p class="mB5"><i class="fa fa-link mR5"></i>{{article.title}}</p></a>
        </div>
      </div>
      <div class="four columns">
        <img class="u-max-full-width" src="assets/images/{{trend.name}}_Icon.svg">
        <hr class="mT2R mB2R"/>
        <div class="trend-questionBox mT15">
          <div *ngFor="#question of trend.questions;  #i = index">
            <h6 *ngIf="i < trend.questions.length - 1"><em>{{question}}</em></h6>
            <h6 *ngIf="i >= trend.questions.length - 1" class="mT2R mB0"><em>{{question}}</em></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
