<section id="hs-driveFramework" class="homeSection">
  <div class="row visible-from-tablet deleted-from-desktop">
    <h6 class="arrow-bg-1 mB0 pT5R pB5R">
      While it may appear that our world is changing randomly and more unforeseeable events are emerging often,
      the truth is that certain large-scale processes determine how businesses,
      governments, and societies behave and how decisions are made.
      <br/><br/>In the vast oceans of knowledge, information and data, we find that there
      are five undercurrents that can give us some directions as to how the future would unfold.
    </h6>
  </div>
  <div class="row printOnly">
    <p class="arrow-bg-1 mB0 pT8R pB0 is-justify">
      While it may appear that our world is changing randomly and more unforeseeable events are emerging often,
      the truth is that certain large-scale processes determine how businesses,
      governments, and societies behave and how decisions are made.
    </p>
  </div>
  <div class="row deleted-from-desktop arrow-bg-4 h60">
    <img class="u-pull-right deleted-from-desktop" src="assets/images/Home_Arrow_Background_5.svg">
  </div>
  <hr class="mT4R mB2R printOnly"/>
  <img class="u-full-width deleted-from-desktop" src="assets/images/DriveFrameworkLogo.svg">
  <hr class="mT2R mB2R deleted-from-desktop"/>
  <div class="row printOnly arrow-bg-5">
    <div class="eight columns">
      <h6 class="mB0 pT3R pB5R is-justify">
        In the vast oceans of knowledge, information and data, we find that there
        are <strong>five undercurrents</strong> that can give us some directions as to how the future would unfold...
      </h6>
    </div>
  </div>
  <div class="row deleted-from-phablet arrow-bg-5 pT20 pB2R noPrint">
    <h6 class="mB0">
      While it may appear that our world is changing randomly and more unforeseeable events are emerging often,
      the truth is that certain large-scale processes determine how businesses,
      governments, and societies behave and how decisions are made.
      <br/><br/>In the vast oceans of knowledge, information and data, we find that there
      are <strong>five undercurrents</strong> that can give us some directions as to how the future would unfold.
    </h6>
  </div>

  <div class="row visible-from-desktop">
    <div class="five columns">
      <h6 class="arrow-bg-1 mB0 pT5R pB5R">
        While it may appear that our world is changing randomly and more unforeseeable events are emerging often,
        the truth is that certain large-scale processes determine how businesses,
        governments, and societies behave and how decisions are made.
        <br/><br/>In the vast oceans of knowledge, information and data, we find that there
        are five undercurrents that can give us some directions as to how the future would unfold.
      </h6>
    </div>
    <div class="seven columns">
      <hr class="homeSeperator-1"/>
      <img class="u-full-width " src="assets/images/DriveFrameworkLogo.svg">
      <hr class="mT2R mB2R visible-from-tablet"/>
    </div>
  </div>

  <div class="visible-from-desktop">
    <div class="u-pull-left w20p">
      <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGrayTopCurve_Home.svg">
    </div>
    <div class="u-pull-left w20p">
      <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGray_Home.svg">
    </div>
    <div class="u-pull-left w20p">
      <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGray_Home.svg">
    </div>
    <div class="u-pull-left w20p">
      <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGray_Home.svg">
    </div>
    <div class="u-pull-left w20p">
      <img class="home-DF-arrow-container" src="assets/images/Button_ArrowHorizontalGrayBottomCurve_Home.svg">
    </div>
    <hr class="invisible-seperator"/>
  </div>

  <div class="home-DF-top-container">
    <a *ngFor="#trend of trends; #i = index" [routerLink]="['/Drive Framework/Drive Framework Trend',{id:trend.url}]">
      <div class="home-DF-trend-container">
        <div class="home-DF-trend-left-container">
          <div class="home-DF-trend-image-container">
            <div class="front">
              <img class="u-full-width" src="assets/images/{{trend.letter}}_Letter.svg">
            </div>
            <div class="back">
              <img class="u-full-width" src="assets/images/{{trend.name}}_Icon.svg">
            </div>
          </div>
        </div>
        <div class="home-DF-trend-right-container">
          <div class="home-DF-trend-text-container">
            <div class="home-DF-trend-circleTop-container"></div>
            <h6 class="home-DF-trend-title mB0"><strong>{{i + 1}}. {{trend.name}}</strong></h6>
            <hr class="home-DF-seperator"/>
            <p class="home-DF-trend-text mB0">{{trend.intro}}</p>
            <hr class="home-DF-seperator"/>
            <div *ngFor="#question of trend.questions; #j = index">
              <p class="mB0 home-DF-question">
                <i class="fa fa-question-circle mR5"></i>{{question}}
              </p>
            </div>
            <div class="home-DF-trend-circleBottom-container"></div>
          </div>
        </div>
        <hr class="invisible-seperator"/>
      </div>
    </a>
    <hr class="invisible-seperator"/>
  </div>
  <div class="row deleted-from-tablet">
    <div class="arrow-bg-6">
      <h6 class="pT5R pB5R mB0 noPrint">
        Individually, the five aspects of DRIVE are thought-provoking. In combination, they can help companies prepare for tomorrow's business landscape, at a time when there is little room left for cutting cost.
      </h6>
      <h6 class="pT5R pB2R mB0 printOnly">
        Individually, the five aspects of DRIVE are thought-provoking. In combination, they can help companies prepare for tomorrow's business landscape, at a time when there is little room left for cutting cost.
      </h6>
    </div>
    <div class="homeDiagram-finalText-container noPrint">
      <div class="home-DF-final-circleTop-container"></div>
      <div class="home-DF-final-circleTopHorizontal-container"></div>
      <h5 class="mB0 ">
        By looking deep into the possible futures, companies can start identifying new business opportunities today.
      </h5>
    </div>
    <div class="home-about-print-leftContainer printOnly">
      <img class="u-full-width" src="assets/images/TeamJPG.png">
    </div>
    <div class="homeDiagram-finalText-container printOnly w70p u-pull-right">
      <h5 class="mB0">
        By looking deep into the possible futures, companies can start identifying new business opportunities today.
      </h5>
    </div>
  </div>
  <div class="row visible-from-tablet">
    <div class="seven columns">
      <hr class="mT2R mB2R"/>
      <div class="homeDiagram-finalText-container">
        <div class="home-DF-final-circleTop-container"></div>
        <div class="home-DF-final-circleTopHorizontal-container"></div>
        <h5 class="mB0">
          By looking deep into the possible futures, companies can start identifying new business opportunities today.
        </h5>
      </div>
    </div>
    <div class="five columns visible-from-tablet">
      <img class="homeArrowClipperImage" src="assets/images/Home_Arrow_Background_2.svg">
      <h6 class="homeDiagram-bottomText-container mB0">
        Individually, the five aspects of DRIVE are thought-provoking. In combination, they can help companies prepare for tomorrow's business landscape, at a time when there is little room left for cutting cost.
      </h6>
    </div>
  </div>
</section>
