<div *ngFor="#trend of trends;  #i = index">
  <div *ngIf="currentPath == trend.url">
    <div class="row">
      <div class="eight columns">
        <a [routerLink]="['Drive Framework Diagram']">
          <p class="mB0"><i class="fa fa-arrow-left mR5"></i> Drive Framework</p>
        </a>
        <hr class="mT15"/>
        <h4 class="mT2R">{{trend.name}}</h4>
        <div class="multi-column-text" [innerHTML]="trend.bodyHTML"></div>
      </div>
      <div class="four columns">
        <img class="u-max-full-width" src="assets/images/{{trend.letter}}_Icon_Head.svg">
        <div class="trend-questionBox">
          <div *ngFor="#question of trend.questions;  #i = index">
            <h6 *ngIf="i < trend.questions.length - 1"><emx>{{question}}</emx></h6>
            <h6 *ngIf="i >= trend.questions.length - 1" class="mT2R mB0"><emx>{{question}}</emx></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="mT2R mB2R"/>
      <div class="twelve columns">
        <div class="driveFrameworkTrend-graphContainer">
          <chartRotator [graphSource]="graphSource"></chartRotator>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="nine columns">
        <hr class="mT2R mB15"/>
        <p class="mB15"><strong>Related Articles &amp; Sources</strong></p>
        <hr class="mT0 mB15"/>
        <div *ngFor="#article of trend.relatedArticles;  #i = index">
          <a *ngIf="article.type == 'internal'" [routerLink]="['/Articles/Article Detail',{id:article.url}]"><p class="mB5"><i class="fa fa-link mR5"></i>{{article.title}}</p></a>
          <a *ngIf="article.type == 'external'" [routerLink]="['/Articles/' + article.url]"><p class="mB5"><i class="fa fa-link mR5"></i>{{article.title}}</p></a>
        </div>
      </div>
      <div class="three columns">
        <hr class="mT2R mB15"/>
        <p class="mB15 u-pull-left"><strong>Share this page</strong></p>
        <a><i class="fa fa-twitter u-pull-right mT3"></i></a>
        <a><i class="fa fa-linkedin u-pull-right mT3 mR15"></i></a>
        <a><i class="fa fa-envelope u-pull-right mT3 mR15"></i></a>
        <hr class="invisible-seperator"/>
        <hr class="mT0 mB15"/>
      </div>
    </div>
  </div>
</div>
