/* Skeleton base files */
@import "skeleton-base/normalize";
@import "skeleton-base/variables";
@import "skeleton-base/functions";
@import "skeleton-base/base-styles";
@import "skeleton-base/utils";
@import "skeleton-base/typography";

/* Skeletpn modules */
@import "skeleton-modules/grid";
@import "skeleton-modules/buttons";
@import "skeleton-modules/forms";
@import "skeleton-modules/lists";
@import "skeleton-modules/code";
@import "skeleton-modules/tables";
@import "skeleton-modules/spacing";
@import "skeleton-modules/media-queries";

/* Fonts */
@import "modules/fontface";
@include fontface('Raleway', '../fonts/Raleway/Raleway-Thin','100');
@include fontface('Raleway', '../fonts/Raleway/Raleway-ExtraLight','200');
@include fontface('Raleway', '../fonts/Raleway/Raleway-Light','300');
@include fontface('Raleway', '../fonts/Raleway/Raleway-Regular','400');
@include fontface('Raleway', '../fonts/Raleway/Raleway-Medium','500');
// @include fontface('Raleway', '../fonts/Raleway/Raleway-SemiBold','600');
// @include fontface('Raleway', '../fonts/Raleway/Raleway-Bold','700');
// @include fontface('Raleway', '../fonts/Raleway/Raleway-ExtraBold','800');
// @include fontface('Raleway', '../fonts/Raleway/Raleway-Heavy','900');

/* Icons */
@import "font-awesome/font-awesome";

/* Spinner */
@import "modules/spinner";

$color-background-gray:#f5f5f5;
$color-border-gray:#e7e7e7;
$color-background-greenGradient: repeating-linear-gradient(90deg,#25acb0,#23bd65);
$color-dark-gray:#ddd;
$color-light-gray:#eee;

.mB0{
  margin-bottom:0px;
}

.mT15{
  margin-top:15px;
}

.p15{
  padding:15px;
}

.center-div{

}

ul{
  list-style: none;
  margin-bottom: auto;
}

a{
  text-decoration: none;
}

main-app{
  display:block;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}

.fadingIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.fadingOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

/* Page */
page{
  display:block;
  padding:15px 0px;
}

/* Footer */
footer{
    display: block;
    border-top: 1px solid $color-light-gray;
}

.footer-label{
    font-size:10px;
    margin:3px 0px;
    color:$color-dark-gray;
}

/* Navigation */

$navbar-logo-height:120px;
$navbar-logo-margin:15px;
$navbar-link-height:24px;

navbar{
  display:block;
  border-bottom: 1px solid $color-border-gray;
}

.navbar-logo{
  margin:$navbar-logo-margin 0px;
  height:$navbar-logo-height * 0.5;
  @media screen and ($bp-larger-than-phablet) {
    height:$navbar-logo-height;
  }
}

.navbar-link {
  display: none;
  @media screen and ($bp-larger-than-phablet) {
    display:inline;
    float:right;
    height:$navbar-link-height;
    margin-top:(($navbar-logo-height + $navbar-logo-margin * 2) - $navbar-link-height) * 0.5;
    margin-bottom: 0px;
    margin-left:5%;
  }
}

.navbar-mobileMenu-button {
  float:right;
  height:$navbar-link-height;
  margin-top:(($navbar-logo-height * 0.5 + $navbar-logo-margin * 2) - $navbar-link-height) * 0.5;
  @media screen and ($bp-larger-than-phablet) {
    display: none;
  }
}

.navbar-mobileMenu-button p{
  margin:0px;
}
